#LeftContainer {
    display: flex;
}

.leftAreaHidden {
    width:0px;
    height:85vh;
    overflow: hidden;
    transition: width 0.3s ease;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url('./AngelHalo.svg');
    background-repeat: repeat;
    background-size: 20vw;
    background-color: #505050;
}
.leftArea {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20vw;
    height: 85vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url('./AngelHalo.svg');
    background-repeat: repeat;
    background-size: 20vw;
    background-color: #505050;
    transition: width 0.3s ease;
}
.leftArea::-webkit-scrollbar {
    display: none;
}


#LeftAreaButton {
    height:4vh;
}

#SubSearchContainer {
    display:flex;
    background-color: #0c0c0c85;
}

#SubSearch {
    background: rgb(26 26 26 / 91%);
    backdrop-filter: blur(8px);
    border: 0.3vw groove rgb(30 37 77 / 86%);
    color: white;
    border-radius: 20%;
    padding: 2%;
    font-size: clamp(2vh, 2vw, 3.4vh);
    font-family: 'Content';
    margin: 0.4vw;
}

#SubList {
    background-color: #0c0c0c85;
    display: flex;
    flex-direction: column;
    margin-left: 0.2vw;
}

.subRedditTopContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #22143b9c;
    margin-bottom: 0.2vw;
    border-radius: 0 12% 12%;
}
.subRedditTopContainer:active {
    background-color: #a800009c;
    margin-bottom:0;
}
.subRedditTopContainer:hover {
    background-color: #22143b;
}

.subRedditContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 12% 12%;
    width: 100%;
    justify-content: flex-start;
}

.subLImage {
    box-sizing: border-box;
    width: 5vw;
    border-radius: 50%;
    border: 0.3vw groove #410e0e; 
}

.subLName {
    font-family: 'Headers';
    font-size: clamp(2vh, 1.05vw, 3.5vh);
    color: white;
    margin-left: 1vw;
    font-weight: 600;
}

.addRemove {
    box-sizing: border-box;
    border-radius: 50%;
    width: 15%;
    font-size: 2vw;
    font-weight: 600;
    color: white;
    background-color: #1b072b;
    border-style: dotted;
    border-width: 0.2vw;
    border-color: #9138a5;
    margin-right: 0.4vw;
}

.addRemove:hover {
    background-color: #63003c;
    border-style: groove;
}
.addRemove:active {
    background-color: rgb(133, 241, 133);
    color:black;
    border-style: dashed;
}

#LeftAreaButton {
    align-self: center;
    width: 1.2vw;
    background-color: #251d35ed;
    border: 0.2vw solid #1a0635;
    border-left: none;
    padding: 1vw 0;
    border-radius: 0 100% 100% 0;
}

.subRedditTCSelected {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2442019a;
    text-decoration: wavy;
    margin-bottom: 0.2vw;
    border-radius: 0 12% 12%;
}

@media (orientation: portrait) {

    /* In the Phone interface the left bar begins hidden, hence the opposite width */
    .leftAreaHidden {
        height: 100vh;
        width:60vw;
        background-size: 60vw;
    }
    .leftArea {
        height: 100vh;
        width: 0;
        background-size: 60vw;
    }
    #LeftAreaButton {
        align-self:flex-start;
        position:absolute;
        left:1vh;
        top:-6vh;
        width:5vw;
        z-index:30;

    }
    #LeftContainer {
        z-index:20;
        position:fixed;    
    }
    .addRemove {
        font-size:4.3vh;
    }
    .subLImage {
        width:10vw;
    }
    .subLName {
        font-size: clamp(2vh, 3.4vw, 5vh);
    }
    .subRedditTopContainer {
        margin-bottom: 1vh;
    }
    .subRedditTCSelected {
        margin-bottom: 1vh;
    }
    #SubSearch {
        margin: 1.5vh auto;
        font-size: clamp(2vh, 4vw, 5vh);
    }
}
