#MainArea {
    box-sizing: border-box;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin-left: 1vw;
    margin-right: 0.7vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color:white;
}
#MainArea::-webkit-scrollbar {
    display: none;
}
#ForPadding {
    padding-top:1vw;
    width:100%;
}

#TakeMeToTop { 
    position: fixed;
    bottom: 0.6vw;
    right: 0;
    display: flex;
    font-family: 'fateburn';
    color: #000327;
    background-color: rgb(196, 236, 173);
    border-color: rgb(34, 85, 59);
    border-style: groove;
    border-width: 0.3vw;
    align-items: center;
    border-radius: 26%;
    overflow: hidden;
    font-size: clamp(1.4vw, 1.7vw, 5vh);
    font-weight: 1000;
    z-index: 500;
    cursor: pointer;
}
#TakeMeToTop.p {
    margin-right: 1vw;
    margin-left: 0.5vw;
}
#TakeMeToTopImg {
    width: 6vw;
}
.singlePost {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #2c221a;
    margin-bottom: 2%;
    padding-top: 1.3vw;
    padding-left: 1vw;
    border-radius: 3%;
    border-right: 0.5vw solid #2d0808;
}
.leftPostInfo {
    display: flex;
    flex-direction: column;
    width: 3vw;
    margin-top: 5%;
    font-family: 'fateburn';
    text-align: center;
    font-size: 183%;
}
.commentsIcon {
    margin-top: 54%;
    cursor: pointer;
}
.commentsIconOff {
    margin-top: 54%;
}
.overallPostContent {
    display: flex;
    flex-direction: column;
    margin-left: 1.2%;
    width:100%;
}
.postTitle {
    margin-bottom: 1vw;
    font-family: 'Headers';
    font-weight: bolder;
    font-size: 169%;
    text-align: center;
}
.galleryImage, .anImageInPost {
    align-self: center;
    margin-top: 0.7vw;
    width:100%;
}
.bottomInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Headers';
    font-weight: bolder;
    font-size:125%;
    margin-bottom: 1vw;
    margin-top: auto;
    padding-top: 1vw;
}
.bottomInfo .userPicture {
    width: 6vw;
    border-radius: 50%;
}
.bottomInfo .mainAreaSubPic {
    width: 6vw;
    border-radius: 50%;
}
.back2back {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.postContent {
    font-family: 'Content';
    font-size: clamp(2vh, 2.3vw, 4vh);
    padding-right: 1vw;
}
.postAuthorName, .postSubName {
    margin-left: 1.5vw;
}
a {
    text-decoration: underline;
    cursor:pointer;
    color:#96ff90;
}
.thatFlower {
    width:100%;
}
.damnIt {
    font-size: 2.3vw;
}
#ReturnButton {
    margin-bottom: 2vw;
    cursor: pointer;
}
.nextPrevPic {
    height: 5vw;
    width: 2.5vw;
    align-self: center;
    cursor: pointer;
}
.leImageViewer {
    display:flex;
    width: 100%;
    justify-content: space-around;
}

.commentAuthorBit .userPicture {
    width: 6vw;
    border-radius: 50%;
}
#CommentsArea {
    background-color: #180d03;
    border-radius: 1%;
}
.aComment {
    border-radius: 2%;
    background-color: #1e0f00;
    margin-bottom: 1vw;
    box-sizing: border-box;
    border-right: 0.5vw solid #2f1010;
}
.mainComment {
    display: flex;
    margin-bottom: 0.8vw;
}
.commentInfo {
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    font-family: 'Headers';
    font-size: clamp(2vh, 1.6vw, 4vh);
    box-sizing: border-box;
    border-bottom: solid 0.7vw #100c0c;
    border-top: solid 0.5vw #100c0c8a;
    padding: 0.3vw 0;
}
.commentAuthorBit {
    margin-left: 0.7vw;
    display: flex;
    flex-direction: column;
    margin-top: 0.7vw;
    align-items: center;
    font-family: 'Headers';
    font-size: clamp(2vh, 1.5vw, 4vw);
    border-right: solid 0.3vw #100c0c;
    padding-right: 0.4vw;
}
.commentContent {
    align-self: center;
    font-family: 'Content';
    font-size: clamp(1.8vh, 1.5vw, 3vw);
    margin-left: 0.7vw;
}
.commentScore, .commentTimestamp {
    align-self: center;
}
.aReply {
    box-sizing: border-box;
    border-left: solid 3vw #100c0c;
}
.mainReply {
    display: flex;
}
.commentVotes {
    display: flex;
}
.commentScore {
    margin-right:1.4vw;
    margin-left: 1.4vw;
}